<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="home_page.css">
</head>
<body>

<div class="main_real">
	<div id = "main_title">Confab.</div>
</div>
<form method="POST" action = "/main" >
	<div id="main">
		<div class="login">Login</div>
	<div class="cont_name">
		<input type="text" class = "name_field" name="name" placeholder="Enter your name">
	</div>

	<div class="cont_pass">
		<input type="password" class = "name_field" name = "pass" placeholder="Enter your password">
	</div>
	<div class="cont_sub">
		<button name = "submit" value = "submit" class = "butt"> -> </button>
	</div>
	</div>
</form>
<script> </script>

</body>
</html> 