<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONFAB</title>
<link rel="stylesheet" type="text/css" href="index_main_style.css">
</head>
<body>
<div class="title">
</div>
<div id = "sticky_icon"></div>
<div id = "main">
	<div id = "canvas_display">	
		<canvas id ="canvas"
		 height = "275px">
		</canvas>
	</div>
	<div id="chat"></div>
	<div id ="chat_text">
	</div>
	<div id = "chat_type">
	</div>
</div>

</body>
<script src = '/socket.io/socket.io.js'></script>
<script type="text/javascript" src="index_main.js"></script>

</html>